.m-brand__logo-wrapper > img {
    max-width: 140px;
    max-height: 52px;
}
html > body .modal .modal-content .modal-header {
    display: table;
    width: 100%;
}
.dataTables_wrapper > .top > .dataTables_info {
    position: relative;
}
.dataTables_wrapper table > thead > tr.heading > th {
    white-space: nowrap;
}
html > body div.dataTables_wrapper div.dataTables_paginate {
    float: left;
}
div.dataTables_wrapper div.paging_bootstrap_extended .pagination-panel {

}
div.dataTables_wrapper div.paging_bootstrap_extended .pagination-panel > a {
    background: var(--primary);
    color: var(--secondary);
}
div.dataTables_wrapper div.paging_bootstrap_extended .pagination-panel > a.last {
    margin-right: 10px;
}
div.dataTables_wrapper div.paging_bootstrap_extended .pagination-panel > span {
    padding: 0 10px;
}
div.dataTables_wrapper .dataTables_length span.seperator {
    padding: 0 10px;
}
div.dataTables_wrapper div.paging_bootstrap_extended .pagination-panel-input {
    width: 75px !important;
    display: inline-block;
}
div.dataTables_wrapper div.paging_bootstrap_extended select {
    width: 75px;
    display: inline-block;
}
.btn-danger > i {
    color: #fff !important;
}
.dataTable tbody tr td .btn {
    padding: .45rem .8rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
}
.dataTable tbody tr td .btn > i {
    font-size: 1rem !important;
}
.dd > .dd-list > .dd-item a > i.fa {
    margin-top: -15px;
    left: -2px;
    position: relative;
}
.dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 2px;
}
.dashboard-stat:after, .dashboard-stat:before {
    content: " ";
    display: table;
}
.dashboard-stat:after, .dashboard-stat:before {
    content: " ";
    display: table;
}
.dashboard-stat:after {
    clear: both;
}
.dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
.dashboard-stat.dashboard-stat-v2 .visual {
    padding-top: 35px;
    margin-bottom: 40px;
    color: #fff;
}
.dashboard-stat .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
}
.dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
    color: #fff;
}
.dashboard-stat .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
    color: #fff;
}
.dashboard-stat, .dashboard-stat2, .page-md .widget-bg-color-white, .page-md .widget-blog, .page-md .widget-carousel, .page-md .widget-map, .page-md .widget-progress-element, .page-md .widget-socials {
    box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
}
.dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 2px;
}
.dashboard-stat:after, .dashboard-stat:before {
    content: " ";
    display: table;
}
.dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
.dashboard-stat .visual>i {
    margin-left: -35px;
    font-size: 110px;
    line-height: 110px;
}
.dashboard-stat .details {
    position: relative;
    right: 15px;
    padding-right: 15px;
}
.dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
}
.dashboard-stat .details .desc {
    text-align: right;
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 300;
}
.dashboard-stat .more {
    clear: both;
    display: block;
    padding: 6px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    opacity: .7;
    filter: alpha(opacity=70);
}
.dashboard-stat:after, .dashboard-stat:before {
    content: " ";
    display: table;
}
.dashboard-stat:after {
    clear: both;
}
.dashboard-stat .more>i {
    display: inline-block;
    margin-top: 1px;
    float: right;
}
.dashboard-stat .more {
    color: #FFF;
    background-color: var(--gray-dark);
}

.dashboard-stat.blue {
    background-color: var(--blue);
}
.dashboard-stat.blue .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}

.dashboard-stat.orange {
    background-color: var(--orange);
}
.dashboard-stat.orange .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}

.dashboard-stat.success {
    background-color: var(--success);
}
.dashboard-stat.success .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}

.dashboard-stat.warning {
    background-color: var(--warning);
}
.dashboard-stat.warning .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}

.dashboard-stat.danger {
    background-color: var(--danger);
}
.dashboard-stat.danger .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}

.dashboard-stat.info {
    background-color: var(--info);
}
.dashboard-stat.info .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}

.dashboard-stat.light {
    background-color: var(--light);
}
.dashboard-stat.light .visual>i {
    color: #000;
    opacity: .1;
    filter: alpha(opacity=10);
}

.dashboard-stat.dark {
    background-color: var(--dark);
}
.dashboard-stat.dark .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}

.dashboard-stat.primary {
    background-color: var(--primary);
}
.dashboard-stat.primary .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}

.dashboard-stat.secondary {
    background-color: var(--secondary);
}
.dashboard-stat.secondary .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}
.flag-icon {
    min-height: 13px;
}
.m-menu__nav > li.m-menu__item > a.m-menu__toggle > .m-menu__link-badge {
    top: 5px;
    right: 40px;
    position: relative;
}
.m-menu__nav > li.m-menu__item > div.m-menu__submenu > ul.m-menu__subnav > li.m-menu__item > a.m-menu__link > .m-menu__link-badge {
    position: relative;
    right: 20px;
    top: 10px;
}