.content-container img {
    max-width: 100% !important;
}
.blockUI .loading-message-boxed > img {
    max-width: 200px;
}
.dataTables_wrapper .dt-buttons {
    display: none;
}
body.has-export .dataTables_wrapper .dt-buttons {
    display: block;
}
html > body .jstree-proton-responsive .jstree-container-ul {
    overflow-x: scroll !important;
}
.sbold {
    font-weight: 900;
}
.bold {
    font-weight: 700;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}

/** Tree design -- START **/
.tree ul {
    width: 100%;
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    padding-left: 0;
}

.tree li {
    width: 50%;
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 0px 0 0px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ width: 100%;padding-top: 0px;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}

.tree li div.tree-ct{
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-size: 11px;
    display: inline-table;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    cursor: pointer;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li div.tree-ct:hover, .tree li div.tree-ct:hover+ul li div.tree-ct {
    background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}

@media  screen and (min-width: 560px) {
    .tree li div.tree-ct {
        width: 96px;
        padding: 2px;
    }

    .tree li div.tree-ct img {
        width: 96px;
    }

    .tree li div.tree-ct div {
        width: 96px;
    }
    .tree li div.tree-ct div.info-container {
        font-size: 12px;
    }
}
@media  screen and (max-width: 560px) {
    .tree li div.tree-ct {
        width: 60px;
        padding: 2px;
    }

    .tree li div.tree-ct img {
        width: 60px;
    }

    .tree li div.tree-ct div {
        width: 60px;
        font-size: 5px;
    }
    .tree li div.tree-ct div.info-container {
        font-size: 10px;
    }
}
/** Tree design -- END **/

.swal-overlay {

}
.swal-overlay > .swal-modal {
    box-shadow: 0 1px 15px 0 rgba(192,72,25,0.32);
}
.swal-overlay > .swal-modal > .swal-content {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 33px;
    text-align: center;
    color: #61534e;
}
.swal-overlay > .swal-modal > .swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}
.swal-overlay > .swal-modal .swal-button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}
.swal-overlay > .swal-modal .swal-button.swal-button--cancel {
    background: linear-gradient(135deg, #dc3545, #f4516c);
}
.swal-overlay > .swal-modal .swal-button.swal-button--confirm {
    background: linear-gradient(135deg, #6e8efb, #20c997);
}
.blockPage > .loading-message-boxed {
    background: rgba(0,0,0,.7);
    padding: 5px;
    font-size: 18px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.blockPage > .loading-message-boxed > img {
    max-width: 40px;
    line-height: 40px;
}
.blockPage > .loading-message-boxed > .loading {
    color: #cecece;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.blockPage > .loading-message-boxed > .loading:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #fff;
    animation: loading 3s linear infinite;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}