.dataTables_wrapper .dataTables_paginate .pagination-panel {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_paginate .pagination-panel .pagination-panel-input {
    max-width: 80px;
}
html > body table.table {
    width: 100%;
    display: table;
}
html > body table.table > thead {
    width: 100%;
}
html > body table.table > tbody {
    width: 100%;
}
html > body .dataTables_paginate .pagination-panel {
    float: left;
    margin: 0;
    white-space: nowrap;
    text-align: right;
}
html > body .dataTables_paginate .pagination-panel {
    white-space: nowrap;
    text-align: right;
}
html > body .dataTables_paginate .pagination-panel > a {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
html > body .dataTables_paginate .pagination-panel > input {
    display: inline;
}
html > body .dataTables_length {

}
html > body .dataTables_length > label {
    margin-top: 5px;
    margin-left: 5px;
}
html > body .dataTables_length > label > span.seperator {
    margin-right: 5px;
}
.dataTables_wrapper .dataTable thead .sorting:before, .dataTables_wrapper .dataTable thead .sorting_asc:before, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:before, .dataTables_wrapper .dataTable thead .sorting_desc:before, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: -8px;
}
.or {
    display:flex;
    justify-content:center;
    align-items: center;
    color:grey;
    min-height: 50px;
}

.or:after,
.or:before {
    content: "";
    display: block;
    background: #eee;
    width: 100%;
    height:1px;
    margin: 0 10px;
}
.lowercase {
    text-transform: lowercase;
}
.fb-send-custom {
    border-color: #0084ff;
    background-color: #0084ff;
    color: #fff;
}
.fb-share {
    border-color: #3B5998;
    background-color: #3B5998;
    color: #fff;
}
.whatsapp-share {
    border-color: #0CC243;
    background-color: #0CC243;
    color: #fff;
}
.whatsapp-share-link:hover {
    text-decoration: none;
}
.wechat-share {
    border-color: #61B60E;
    background-color: #61B60E;
    color: #fff;
}
.wechat-share-link:hover {
    text-decoration: none;
}
.sms-share {
    border-color: #FFA500;
    background-color: #FFA500;
    color: #fff;
}
.sms-share-link:hover {
    text-decoration: none;
}
.twitter-share {
    border-color: #00a9f1;
    background-color: #00a9f1;
    color: #fff;
}
.twitter-share-link:hover {
    text-decoration: none;
}
.telegram-share {
    border-color: #32aee2;
    background-color: #32aee2;
    color: #fff;
}
.telegram-share-link:hover {
    text-decoration: none;
}
.mail-share {
    border-color: #4068ae;
    background-color: #4068ae;
    color: #fff;
}
.mail-share:hover {
    text-decoration: none;
}
.linkedin-share {
    border-color: #0077b5;
    background-color: #0077b5;
    color: #fff;
}
.linkedin-share:hover {
    text-decoration: none;
}
.modal-full {
    min-width: 100%;
    margin: 0;
}
.modal .modal-title {
    position: absolute;
}