ul {
    list-style: none !important;
    padding: 0;
}

.ellipses {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sale-table-body {
    margin: 20px 15px;
    background-color: #ffffff;
    box-shadow: 2px 4px 6px 1px grey;
    cursor: pointer;
    font-weight: 500;
}

.sale-table-top {
    padding: 25px 10px;
}

.sale-table-icon {
    width: 45%;
    margin-bottom: 20px;
}

.sale-table-bottom {
    background-color: #ecf6ff;
    padding: 12px 0;
}

